@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Exo 2', sans-serif;
  overflow: overlay; }

::-webkit-scrollbar {
  background: transparent;
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: #78b4b9;
  border-radius: 20px;
  border-right: 5px; }

/* font-family: 'Exo 2', sans-serif; */
@media only screen and (min-width: 768px) {
  .header {
    position: relative;
    background-color: rgba(254, 255, 255, 0.2);
    overflow: hidden; }
    .header .seccionVideo {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1; }
      .header .seccionVideo video {
        width: 100%; }
    .header .navegador {
      display: grid;
      grid-template-areas: "." "logo" "titulo";
      grid-template-columns: 60vw;
      grid-template-rows: 10vh 50vh 40vh;
      align-content: normal;
      justify-content: center;
      align-items: normal;
      /*             .seccionName{
                @include grid_hijo(nombre);
                @include flex(row,nowrap,center,center,center);
                img{
                    @include altoAncho(auto,60%);
                    filter: drop-shadow(1px 10px 15px black);
                }
            } */ }
      .header .navegador .seccionTitulo {
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        width: 100%; }
        .header .navegador .seccionTitulo h1 {
          width: 100%;
          font-weight: 400;
          color: white;
          font-size: 1.5rem;
          text-shadow: 4px 3px 2px black;
          filter: drop-shadow(1px 10px 15px black); }
        .header .navegador .seccionTitulo .botonTitulo {
          font-family: 'Exo 2', sans-serif;
          padding: 10px;
          cursor: pointer;
          filter: drop-shadow(1px 10px 15px black);
          border-radius: 5px;
          border: 0px;
          font-size: 1rem;
          font-weight: 400;
          background-color: #78b4b9;
          box-shadow: 0px 5px 0px 1px black; }
          .header .navegador .seccionTitulo .botonTitulo:active {
            box-shadow: 0px 0px 0px 0px black;
            transform: translateY(5px); }
      .header .navegador .seccionLogo {
        grid-area: logo;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center; }
        .header .navegador .seccionLogo img {
          height: 80%;
          width: auto;
          filter: drop-shadow(1px 10px 15px black); }
      .header .navegador .seccionNavScroll {
        display: grid;
        grid-template-areas: "logo btn1 btn2 btn3 btn4 btn5";
        grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 10vh;
        position: fixed;
        width: 100%;
        opacity: 0; }
        .header .navegador .seccionNavScroll .btnNavScroll {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: black; }
          .header .navegador .seccionNavScroll .btnNavScroll a {
            text-decoration: none;
            color: white; }
        .header .navegador .seccionNavScroll .seccionLogoScroll {
          grid-area: logo;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: normal;
          justify-content: flex-start;
          align-items: normal;
          padding-left: 5%;
          height: 100%;
          width: 100%;
          background-color: black; }
          .header .navegador .seccionNavScroll .seccionLogoScroll img {
            height: 100%;
            width: auto; } }

@media only screen and (max-width: 767px) {
  header {
    background-color: black;
    height: 100vh;
    width: 100vw; }
    header .navegador {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center; }
      header .navegador .seccionLogo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%; }
        header .navegador .seccionLogo img {
          width: 100%; }
      header .navegador .navHamb {
        background-color: black;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: absolute;
        top: 0px;
        right: auto;
        bottom: auto;
        left: 0px;
        transform: translateX(-100%); }
        header .navegador .navHamb a {
          text-decoration: none;
          color: white; }
      header .navegador .btnHamb {
        position: absolute;
        top: 0px;
        right: auto;
        bottom: auto;
        left: 0px;
        height: 10%;
        width: 15%; }
        header .navegador .btnHamb button {
          height: 100%;
          width: 100%;
          background: none;
          border: 0px;
          cursor: pointer;
          padding: 0; }
          header .navegador .btnHamb button span {
            border-radius: 5px;
            background-color: #78b4b9;
            display: block;
            height: 2px;
            width: 60%;
            margin: 5px auto; } }

.seccionInicio {
  display: grid;
  grid-template-areas: 'artTitulo' 'artTexto';
  grid-template-rows: 50vh 50vh; }
  .seccionInicio .artTitulo {
    grid-area: artTitulo;
    display: grid;
    grid-template-areas: "titulo";
    grid-template-rows: 25vh;
    grid-template-columns: 80vw;
    justify-content: center;
    align-items: space-evenly;
    align-content: center;
    justify-items: center; }
    .seccionInicio .artTitulo .tituloInicio {
      font-size: 3rem;
      grid-area: titulo;
      text-align: center;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: normal;
      justify-content: center;
      align-items: center; }
  .seccionInicio .artTexto {
    grid-area: artTexto;
    display: grid;
    grid-template-areas: "texto";
    grid-template-columns: 100%;
    justify-items: center; }
    .seccionInicio .artTexto .textoInicio {
      grid-area: texto;
      display: grid;
      grid-template-areas: "texto1 texto2 texto3";
      grid-template-columns: 1fr 1fr 1fr;
      align-items: center;
      text-align: center;
      opacity: 0;
      height: 100%;
      width: 90%; }
      .seccionInicio .artTexto .textoInicio .artParrafo {
        height: 90%;
        width: 90%;
        background-color: rgba(120, 180, 185, 0.7);
        display: grid;
        justify-items: center;
        align-items: center;
        align-content: center;
        border-radius: 30px;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 6px 12px -2px; }
        .seccionInicio .artTexto .textoInicio .artParrafo p {
          width: 90%;
          height: 100%;
          color: black;
          text-shadow: 1px 1px 1px 1px #fbfbfb;
          font-size: 1.2rem;
          font-weight: bolder; }
