@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Exo 2', sans-serif; }

/* font-family: 'Exo 2', sans-serif; */
@media only screen and (min-width: 768px) {
  header {
    background-color: white;
    overflow: hidden;
    height: 100vh;
    width: 100vw; }
    header nav {
      display: grid;
      grid-template-areas: "img1 logo img3" "btn1 btn2 btn3" "img2 img2 img2";
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 50vh 5vh 45vh; }
      header nav .seccionLogo {
        display: flex;
        justify-content: center;
        width: 100%;
        grid-area: logo; }
        header nav .seccionLogo img {
          height: 100%; }
      header nav .containerImg1 {
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        width: 100%;
        grid-area: img1; }
        header nav .containerImg1 img {
          height: 100%;
          transform: translateY(-25%);
          opacity: 0; }
      header nav .containerImg2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        width: 100%;
        grid-area: img2; }
        header nav .containerImg2 img {
          transform: translateY(50%);
          opacity: 0;
          width: 100%; }
      header nav .btnEntrar {
        text-decoration: none;
        grid-area: btn1;
        display: flex;
        justify-content: center;
        background-color: black; }
        header nav .btnEntrar a {
          text-decoration: none;
          color: white; }
      header nav .btnEntrar2 {
        grid-area: btn2;
        display: flex;
        justify-content: center;
        background-color: black; }
        header nav .btnEntrar2 a {
          text-decoration: none;
          color: white; }
      header nav .btnEntrar3 {
        grid-area: btn3;
        display: flex;
        justify-content: center;
        background-color: black; }
        header nav .btnEntrar3 a {
          text-decoration: none;
          color: white; }
      header nav .containerImg3 {
        display: flex;
        justify-content: flex-end;
        overflow: hidden;
        width: 100%;
        grid-area: img3; }
        header nav .containerImg3 img {
          height: 100%;
          transform: translateY(25%);
          opacity: 0; } }

@media only screen and (max-width: 767px) {
  header {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    header .navegador {
      width: 100%; }
      header .navegador .seccionLogo {
        width: 100%; }
        header .navegador .seccionLogo img {
          width: 100%; }
      header .navegador .containerImg1, header .navegador .containerImg2, header .navegador .containerImg3 {
        display: none; }
      header .navegador .navHamb {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: absolute;
        bottom: 0px;
        left: 0px; }
        header .navegador .navHamb a {
          text-decoration: none;
          color: white; }
          header .navegador .navHamb a span {
            text-shadow: 1px 1px 15px orange; }
      header .navegador .menuHamb {
        width: 5%;
        height: 5%; }
        header .navegador .menuHamb .circulo {
          content: " ";
          width: auto;
          height: auto;
          border: 1px solid white;
          border-radius: 100%; } }
