@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Exo 2', sans-serif;
  overflow: overlay; }

::-webkit-scrollbar {
  background: transparent;
  width: 10px; }

::-webkit-scrollbar-thumb {
  background: #78b4b9;
  border-radius: 20px;
  border-right: 5px; }

/* font-family: 'Exo 2', sans-serif; */
@media only screen and (min-width: 768px) {
  .header {
    position: relative;
    background-color: rgba(120, 180, 185, 0.5);
    overflow: hidden; }
    .header .seccionVideo {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1; }
      .header .seccionVideo video {
        width: 100%; }
    .header .navegador {
      display: grid;
      grid-template-areas: "titulo logo";
      grid-template-columns: 50vw 50vw;
      grid-template-rows: 100vh;
      align-content: normal;
      justify-content: normal;
      align-items: normal; }
      .header .navegador .seccionTitulo {
        grid-area: titulo;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        row-gap: 5%;
        text-align: center;
        width: 100%; }
        .header .navegador .seccionTitulo h1 {
          width: 80%;
          color: white;
          font-size: 2rem;
          font-weight: bolder;
          text-shadow: 4px 3px 2px black; }
        .header .navegador .seccionTitulo button {
          font-family: 'Exo 2', sans-serif;
          padding: 2%;
          cursor: pointer;
          box-shadow: 10px 10px 10px 5px black;
          border-radius: 30px;
          border: 0px;
          font-size: 1rem;
          background-color: #78b4b9; }
      .header .navegador .seccionLogo {
        grid-area: logo;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: normal;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: black;
        border-radius: 100% 0% 0% 0%; }
        .header .navegador .seccionLogo img {
          height: 50%; }
      .header .navegador .seccionNavScroll {
        display: grid;
        grid-template-areas: "logo btn1 btn2 btn3 btn4 btn5";
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 10vh;
        position: fixed;
        width: 100%;
        opacity: 0; }
        .header .navegador .seccionNavScroll .btnNavScroll {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: black; }
          .header .navegador .seccionNavScroll .btnNavScroll a {
            text-decoration: none;
            color: white; }
        .header .navegador .seccionNavScroll .seccionLogoScroll {
          grid-area: logo;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: normal;
          justify-content: center;
          align-items: normal;
          height: 100%;
          width: 100%;
          background-color: white; }
          .header .navegador .seccionNavScroll .seccionLogoScroll img {
            height: 100%;
            width: auto; } }

@media only screen and (max-width: 767px) {
  header {
    background-color: black;
    height: 100vh;
    width: 100vw; }
    header .navegador {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center; }
      header .navegador .seccionLogo {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%; }
        header .navegador .seccionLogo img {
          width: 100%; }
      header .navegador .navHamb {
        background-color: black;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: absolute;
        top: 0px;
        right: auto;
        bottom: auto;
        left: 0px;
        transform: translateX(-100%); }
        header .navegador .navHamb a {
          text-decoration: none;
          color: white; }
      header .navegador .btnHamb {
        position: absolute;
        top: 0px;
        right: auto;
        bottom: auto;
        left: 0px;
        height: 10%;
        width: 15%; }
        header .navegador .btnHamb button {
          height: 100%;
          width: 100%;
          background: none;
          border: 0px;
          cursor: pointer;
          padding: 0; }
          header .navegador .btnHamb button span {
            border-radius: 5px;
            background-color: #78b4b9;
            display: block;
            height: 2px;
            width: 60%;
            margin: 5px auto; } }

.seccionInicio {
  display: grid;
  grid-template-areas: 'inicio';
  grid-template-rows: 100vh; }
  .seccionInicio .artInicio {
    grid-area: inicio;
    display: grid;
    grid-template-areas: "titulo" "texto";
    grid-template-rows: 25vh 25vh;
    grid-template-columns: 80vw;
    justify-content: center;
    align-items: space-evenly;
    align-content: center;
    justify-items: center; }
    .seccionInicio .artInicio .tituloInicio {
      font-size: 3rem;
      grid-area: titulo;
      text-align: center;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: normal;
      justify-content: center;
      align-items: center; }
    .seccionInicio .artInicio .textoInicio {
      grid-area: texto;
      text-align: center;
      opacity: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: normal;
      justify-content: space-around;
      align-items: center; }
