
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&display=swap');
body{
    font-family: 'Exo 2', sans-serif;
}
/* font-family: 'Exo 2', sans-serif; */
@import './variables.scss';
@import './header/headerDesktop.scss';
@import './header/headerMobile.scss';
@import './inicio/inicio_desktop.scss'