//Paleta de Colores The Rabbit
//#78b4b9 - rgb(120, 180, 185);
//#f2de5f - rgb(242, 222, 95);
//#e4000089af - rgb(228, 137, 175)

//All Flex
@mixin flex ($flex_direction, $flex_wrap,$align_content, $justify_content, $align_items){
  display: flex;
  flex-direction: $flex_direction;
  flex-wrap: $flex_wrap;
  align-content: $align_content;
  justify-content: $justify_content;
  align-items: $align_items;
  @content;
}

@mixin grid_padre($gridTemplateAreas,$gridTemplateColumns,$gridTemplatesRows,$align_content,$justify_content,$align_items) {
  display: grid;
  grid-template-areas: $gridTemplateAreas;
  grid-template-columns: $gridTemplateColumns;
  grid-template-rows: $gridTemplatesRows;
  align-content: $align_content;
  justify-content: $justify_content;
  align-items: $align_items;
}

@mixin grid_hijo($gridArea){
  grid-area: $gridArea;
}

//Para Alto y Ancho
@mixin altoAncho ($height,$width){
  height: $height;
  width: $width;
}

//Mixin de Media Query
@mixin media-query($size) {
  @media only screen and ($size) {
    @content;
  }
}

//Posiciones Absolutas
@mixin absolute($top,$right,$bottom,$left){
  position: absolute;
  top:$top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// variables de botones del navegador
$background_nav: rgb(0, 0, 0);
$font_color_boton:rgb(255, 255, 255);

// formato botones del navegador
@mixin boton_nav(){
  background-color: $background_nav;
  a{
      text-decoration: none;
      color:$font_color_boton;
  }
}