
@include media-query('min-width: 768px'){

    header{
        background-color:rgba($color: #ffffff, $alpha: 1.0);
        overflow: hidden;
        height: 100vh;
        width: 100%;
        nav{
            display: grid;
            grid-template-areas: 
            "logo"
            "btn"
            "img";
            grid-template-rows: 50vh 5vh 45vh;
            
            .seccionLogo{
                display:flex;
                justify-content: center;
                width: 100%;
                grid-area: logo;
                img{
                    height: 100%;
                }
            }

            .seccionImgNav{            
                grid-area:img;
                display: grid;
                grid-template-areas: 
                "img1 img2 img3 img4 img5";
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                position: relative;

                .containerImg{
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    width: 100%;
                    img{
                        filter:blur(10px) grayscale(100%)
                    }
                }
            }
                
            .seccionBtnNav{
                grid-area: btn;
                display: grid;
                grid-template-areas: 
                "btn1 btn2 btn3 btn4 btn5";
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                .btnNav{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include boton_nav;
                }
            }


        }
    
    }

    


}