
@include media-query('min-width: 768px'){

    .header{
        background-color:rgba($color: #ffffff, $alpha: 1.0);
        height: 100vh;
        width: 100%;
        .navegador{
            display: grid;
            grid-template-areas: 
            "logo"
            "btn"
            "img";
            grid-template-rows: 50vh 5vh 45vh;
            
            .seccionLogo{
                display:flex;
                justify-content: center;
                width: 100%;
                grid-area: logo;
                img{
                    height: 100%;
                }
            }

            .seccionImgNav{            
                grid-area:img;
                display: grid;
                grid-template-areas: 
                "img1 img2 img3 img4 img5";
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

                .containerImg{
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    width: 100%;
                    img{
                        filter:blur(10px) grayscale(100%)
                    }
                }
            }
                
            .seccionBtnNav{
                grid-area: btn;
                display: grid;
                grid-template-areas: 
                "btn1 btn2 btn3 btn4 btn5";
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                .btnNav{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include boton_nav;
                }
            }

            .seccionNavScroll{
                display: grid;
                grid-template-areas: 
                "logo btn1 btn2 btn3 btn4 btn5";
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 10vh;
                position:fixed;
                width: 100%;
                opacity: 0;
                .btnNavScroll{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include boton_nav;
                }
                .seccionLogoScroll{
                    grid-area: logo;
                    background-color:rgba($color: #ffffff, $alpha: 1.0);
                    @include altoAncho(100%,100%);
                    @include flex(row,nowrap,normal,center,normal);
                    img{
                        @include altoAncho(100%,auto);
                    }

                }
            }

        }
      
    }


}