
@include media-query('min-width: 768px'){

    .header{
        position: relative;
                background-color: rgba($color: #feffff, $alpha: 0.2);
        overflow: hidden;

        .seccionVideo{
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            video{
                width: 100%;
            }
        }

        .navegador{
            @include grid_padre(". .""logo titulo" "logo titulo",50vw 50vw, 10vh 60vh 30vh,normal,normal,normal);
            
            .seccionTitulo{
                @include grid_hijo(titulo);
                @include flex(column,nowrap,center,center,center);
                row-gap: 5%;
                text-align: center;
                width: 100%;
                h1{
                    width: 80%;
                    color: rgba($color: #ffffff, $alpha: 1.0);
                    font-size: 2rem;
                    font-weight: bolder;
                    text-shadow: 4px 3px 2px rgba($color: #000000, $alpha: 1.0);
                    filter: drop-shadow(1px 10px 15px black);
                }

                .botonTitulo{
                    font-family: 'Exo 2', sans-serif;
                    padding: 2%;
                    cursor: pointer;
                    filter: drop-shadow(1px 10px 15px black);
                    border-radius: 30px;
                    border: 0px;
                    font-size: 1rem;
                    font-weight: bolder;
                    background-color: rgba($color: #78b4b9, $alpha: 1.0);
                    &:hover{
                        box-shadow: inset 2px 2px 2px 1px rgba($color: #000000, $alpha: 1.0);
                    }
                }

            }

            .seccionLogo{
                @include grid_hijo(logo);
                @include flex(row,nowrap,center,center,center);
                img{
                    @include altoAncho(auto,80%);
                    filter: drop-shadow(1px 10px 15px black);
                }
            }
/*             .seccionName{
                @include grid_hijo(nombre);
                @include flex(row,nowrap,center,center,center);
                img{
                    @include altoAncho(auto,60%);
                    filter: drop-shadow(1px 10px 15px black);
                }
            } */

            .seccionNavScroll{
                display: grid;
                grid-template-areas: 
                "logo btn1 btn2 btn3 btn4 btn5";
                grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 10vh;
                position:fixed;
                width: 100%;
                opacity: 0;
                .btnNavScroll{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include boton_nav;
                }
                .seccionLogoScroll{
                    @include grid_hijo(logo);
                    @include flex(row,nowrap,normal,flex-start,normal);
                    padding-left: 5%;
                    @include altoAncho(100%,100%);
                    background-color:rgba($color: #000000, $alpha: 1.0);
                    img{
                        @include altoAncho(100%,auto);
                    }

                }
            }

        }
      
    }


}